/.vscode
/freebox aout 2025.pdf
/freebox avril 2025.pdf
/freebox juillet 2025.pdf
/freebox juin 2025.pdf
/freebox mai 2025.pdf
/freebox septembre 2025.pdf
/mobile aout.pdf
/mobile avril.pdf
/mobile juillet.pdf
/mobile juin.pdf
/mobile mai.pdf
/out